scm:
    git:
        userRemoteConfigs:
        - url: https://github.ibm.com/Order-Management-Fulfillment/cc-return.git
          credentialsId: 'cicd-github-token'
        branches:
        - name: '{{ BRANCH }}'
